<section class="make-transfer">
    <h3>
        Opravi transakcijo
    </h3>
    <form>
        <fieldset>
            <label>Iz računa</label>
            <input type="text" placeholder="ID(4692) - € 3.50">
        </fieldset>

        <fieldset>
            <label>Na račun</label>
            <input type="text" placeholder="Elektro Maribor">
        </fieldset>

        <fieldset>
            <label>Znesek</label>
            <input type="text" placeholder="€ 0.00">
        </fieldset>

        <button type="submit">Potrdi</button>
    </form>
</section>